//

@import "~bootstrap/scss/bootstrap";

.header{
	background: #243238;
	color: #fff;
}
.header a{
    color: #fff;
    text-decoration: none;
}
.header a:hover{
    color: #8fc19a;
    color: rgba(143,193,154,.7);
    text-decoration: none;
}

.logo_wrapper a:hover{
	color: #fff;
}

.logo_wrapper img{
    float: left;
}

.logo_wrapper span{
	display: inline-block;
    margin-top: 14px;
    margin-left: 5px;
    padding: 0 10px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-color: #8fc19a;
    background-color: rgba(143,193,154,.7);
    font-size: 12px;
}